APP_ENVIRONMENT=local
LOG_LEVEL=INFO
APP_CORS_ALLOW_ORIGINS=["http://localhost:5000", "http://localhost:8081"]

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/task_db
DB_SCHEMA=public

SECRET_KEY=https://youtu.be/dQw4w9WgXcQ?si=Hn6IU6pxNg_Xmro5
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
